<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<MeteoInfo File="config.xml" Type="configurefile">
  <Path OpenPath="D:\Edge浏览器下载"/>
  <Font>
    <TextFont FontName="YaHei Consolas Hybrid" FontSize="14"/>
    <LegendFont FontName="宋体" FontSize="12"/>
  </Font>
  <ScriptLanguage Language="Jython"/>
  <LookFeel LafDecorated="true" Name="FlatLightLaf"/>
  <Figure DoubleBuffering="true"/>
  <Startup MainFormLocation="320,142" MainFormSize="1293,714" ShowMeteoDataDlg="true"/>
</MeteoInfo>
